{% extends 'app/base2.html' %}
{% load static %}
{% block contenido %}


              <div class="col-sm-10">
                <div class="row">
                    
                    <div class="col-sm-12 bg-warning">
                        <div class="d-flex justify-content-around mt-3 mb-3 ">
                            <div class="p-2 bg-success flex-grow-1"><p>Lista de articulos:</p>
                                <ul class="list-group">
                                    <li class="list-group-item">Articulo: Tijeras de podar | Precio: $3.990 | Cantidad disponible: 88 </li>
                                    <li class="list-group-item">Articulo: Royal Gorilla Auto 1 Semilla RQS | Precio: $9.190 | Cantidad disponible: 50 </li>
                                    <li class="list-group-item">Articulo: Sustrato Biobizz light mix 50L | Precio: $13.990 | Cantidad disponible: 30 </li>
                                  </ul>
                            </div>
                          
                            <div class="p-2 bg-success"> <br> <br>
                                <button type="button" class="btn btn-secondary">Editar</button>
                                <br>
                                <button type="button" class="btn btn-secondary">Editar</button>
                                <br>
                                <button type="button" class="btn btn-secondary">Editar</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                                   
              

        </div>
    </div>
{% endblock %}
    